footer.container-fluid
  img(src="assets/img/autojal-footer-logo.png", alt="Autojal")
  .row.top
    .col-sm-12
      a(href="mailto:contacto@grupoautojal.com.mx")
        i.far.fa-envelope.mr-3
        | contacto@grupoautojal.com.mx
      a(href="tel:(33) 1605 6756")
        i.fas.fa-phone-alt.mr-3
        | (33) 1605 6756
        a(href="#").mr-3
          i.fab.fa-facebook-square
    .col-sm-12
      a(href="#").mr-3
        i.fas.fa-map-marker-alt
        b Morelos 1520, Americana, Guadalajara, Jalisco CP.44600
  .row.bottom
    .col-sm-12
      a(href="#") Aviso de privacidad
      a(href="#") Términos y condiciones
