header.Header
	.container
		.row
			.col-sm-12.text-center
				ul.list-inline
					li
						a.d-block(href="/")
							img.img-fluid(src="assets/img/autojal-logo.png", alt="Autojal")
					li
						a(href="about.html", class=section == 'index' ? 'active' : '') NOSOTROS
					li
						a(href="product-brands.html") AUTOS NUEVOS
					li
						a(href="#") AUTO SEMINUEVOS
					li
						a(href="#") AUTO DEMO
					li
						a(href="blog.html") NOTICIAS
					li
						a(href="contact.html") CONTACTO
					li
						a(href="#")
							i.fas.fa-search
					li
						a(href="account.html")
							img(src="assets/img/autojal-llave-icono.png", alt="Autojal")
