.Home
  .car-segment
    text-align center
    padding 30px 0
    ul
      list-style none
      li
        padding 0 50px
        a
          color black
  .featured
    text-align center
    .item
      border 1px solid black
      border-radius 10px
      margin 0 10px
      img
        border-top-left-radius 10px
        border-top-right-radius 10px
      .content
        padding 10px
        text-align left
        p
          margin 0
        span
          color $black
          font-weight bold
          display block
  .services
    ul
      list-style none
      padding-left 0
      li
        display grid
        grid-template-columns auto auto
        gap 1.5rem
        b
          color $red
